<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral,PublicKeyToken=692fbea5521e1304,  Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <!--"LOCAL HOST(Fer-pc)" 192.168.0.109-->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;       
      initial catalog=TS_Gestion_Munioz3_2019-05-14;Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!-- "MI PC LOCAL" -->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G9KNG45\FER;
      initial catalog=TS_Gestion_Munioz3_2019-05-14;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--"CONECTEMOS" 144.217.94.202-->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=144.217.94.202;
      Initial Catalog=albarino_Gestion;     Persist Security Info=False;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--"CONECTEMOS TESTING"144.217.94.202,1434-->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.217.94.202,1434;
      initial catalog=TS_Gestion_Munioztest;    Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--"AZURE" serversql.database.windows.net,1433-->
    <add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serversql.database.windows.net,1433;
      Initial Catalog=TS_Gestion_MYG_2019-08-09T15-25Z;    User ID=Timesolution;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="Store_Entities" connectionString="metadata=res://*/Entidades.Store.csdl|res://*/Entidades.Store.ssdl|res://*/Entidades.Store.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=fer-pc;Initial Catalog=TS_Store_Team2018-07-17;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Store_Entities2" connectionString="metadata=res://*/Entidades.Store.csdl|res://*/Entidades.Store.ssdl|res://*/Entidades.Store.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=fer-pc;Initial Catalog=TS_Store_Team2018-07-13;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <!--<add name="Store_Entities" connectionString="metadata=res://*/Entidades.Store.csdl|res://*/Entidades.Store.ssdl|res://*/Entidades.Store.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serversql.database.windows.net,1433;Initial Catalog=TS_Store_GestionSolution;Persist Security Info=False;User ID=Timesolution;Password=Timesol1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <!--<add name="Store_Entities" connectionString="metadata=res://*/Entidades.Store.csdl|res://*/Entidades.Store.ssdl|res://*/Entidades.Store.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serversql.database.windows.net,1433;Initial Catalog=TS_Store_Team;Persist Security Info=False;User ID=Timesolution;Password=Timesol1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PlenarioEntities" connectionString="metadata=res://*/Entidades.Model1.csdl|res://*/Entidades.Model1.ssdl|res://*/Entidades.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.103;initial catalog=TS_Gestion2_Plenario_13-06-2018;Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	 <add name="TaskEntities" connectionString="metadata=res://*/Entitys.Modelo.csdl|res://*/Entitys.Modelo.ssdl|res://*/Entitys.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 	 
	 <add name="TS_MillasEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.217.94.202,1434;Initial Catalog=TS_Millas_Munioz-2019-4-24;Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOYLService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="SMSMasivosAPISoap" />
        <!--<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
        </binding>-->
      </basicHttpBinding>
      <customBinding>
        <binding name="SMSMasivosAPISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://190.210.215.125:84/OYLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOYLService" contract="PlenarioWS.IOYLService" name="BasicHttpBinding_IOYLService" />
      <endpoint address="http://servicio.smsmasivos.com.ar/ws/SMSMasivosAPI.asmx" binding="basicHttpBinding" bindingConfiguration="SMSMasivosAPISoap" contract="SmsMasivoService.SMSMasivosAPISoap" name="SMSMasivosAPISoap" />
    </client>
  </system.serviceModel>
  <appSettings>
   <add key="Clientes_1" value="Lista Precio Categoria" />
   <add key="ImagenesStore" value="ftp://waws-prod-bn1-017.ftp.azurewebsites.windows.net/site/wwwroot/images/Productos/" />
    <add key="Usuario" value="StoreBeneficiosMunioz\timesolutionftp" />
    <add key="pass" value="Timesol1" />      
    <add key="ClienteDefecto" value="199" />
    <add key="recalcularPrecioPedido" value="1" />
    <add key="Imprime" value="1" />    
	  <add key="Recargo" value="1" /> 
	  <add key="Mascotas" value="0" />	
	  <add key="OrigenSMS" value="1" />
	  <add key="Millas" value="1" />
	  <add key="UrlMillas" value="http://beneficiosmunioz.azurewebsites.net/" />
	  <add key="Combustible" value="1" />    
	  <add key="NaftaSuper" value="191" />  
	  <add key="NaftaSuper2" value="243" />  
	  <add key="NaftaDiesel" value="223" />  
	  <add key="NaftaDiesel2" value="224" />  
    <add key="FormularioFC" value="1" />  
	  <add key="FormaFacturar" value="1" />
    <add key="VersionCierreCaja" value="1" />
    <add key="Tapice" value="1" />
    <add key="Modula" value="1" />
    <add key="CodProveedorCompras" value="1" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="PedidosMonedaOriginal" value="1" />
    <add key="FormatoIva" value="0" />
    <add key="CriterioOrdenarArticulosFacturacion" value="1" />
    <add key="IdConceptoMovimientoCajaBanco" value="3" />
    <add key="ModificoHora" value="1" />
    <add key="HorasDiferencia" value="-3" />
    <add key="ModoIntegradoGestion" value="1" />
    <add key="CajaCierreAceptarMercaderia" value="1" />
    <add key="PrecioFacturaA" value="0" />
    <add key="OrdenReparacion" value="1" />
    <add key="FacturarImagenes" value="1" />
    <add key="bloquearRealizarDescuentoEnFacturacion" value="0" />
    <add key="VerificarEnvioMercaderiaSiNoHayStockOrNegativo" value="1" />
    <add key="ImportarListasDePrecios" value="1" />
    <!--<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />-->
  </appSettings>
  <system.web>
    <globalization culture="en-US" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      
    </httpHandlers>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error404.aspx">
      <error statusCode="404" redirect="/Error404.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <!--<authentication mode="None" />-->
      <forms loginUrl="Account/Login.aspx" name=".ASPXFORMSAUTH" defaultUrl="Default.aspx" />
    </authentication>
    <authorization>
      <!--<deny  users="?" />-->
    </authorization>
   <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="15360" requestLengthDiskThreshold="15360" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />		
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        La pertenencia a ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        El perfil de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          El rol de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="30" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!--<httpHandlers>
      -->
    <!-- Using CombineCriptsHandler.axd as path of handler -->
    <!--
      <add verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler,                AjaxControlToolkit"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      -->
    <!-- Using CombineCriptsHandler as name of handler -->
    <!--
      <add name="CombineScriptsHandler" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler,          AjaxControlToolkit"/>
    </handlers>-->
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />      
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VSDesigner" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LinqToExcel" publicKeyToken="9c8ea65a58f03f1f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" newVersion="1.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
